@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Animation classes */
.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.animate-slideDown {
  animation-name: slideDown;
}

.animate-slideUp {
  animation-name: slideUp;
}

/* for hero section right side swiper  */
.card {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(1.1, 1.1);
  }

  30% {
    transform: scale(0.9, 0.9);
  }

  50% {
    transform: scale(1, 1);
  }

  57% {
    transform: scale(1, 1);
  }

  64% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* for video  */
video {
  object-fit: cover;
  border-radius: 12px;
}

input:focus {
  outline: none;
  /* Remove the default outline */
}


.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-pagination {
  bottom: 23px !important;
}

.swiper {
  position: static !important;
}

:root {
  --swiper-theme-color: #FF0080 !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply w-[7px] rounded-full bg-[#FF0080];
}

.custom-scroll::-webkit-scrollbar {
  @apply h-[6px] w-[7px] cursor-pointer;
}

.custom-scroll::-webkit-scrollbar-track {
  @apply rounded-full bg-[#E0E5F1];
}

.pagination-swiper {
  position: absolute;
  bottom: 35px !important;
  text-align: center;
  --swiper-theme-color: #fff;
  z-index: 900;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* .ReactModal__Overlay--before-close {
  -webkit-animation: scale-out-center .5s cubic-bezier(.55, .085, .68, .53) both;
  animation: scale-out-center .5s cubic-bezier(.55, .085, .68, .53) both !important
} */

.scale-out-center {
  -webkit-animation: scale-out-center 0.4s cubic-bezier(.55, .085, .68, .53) both;
  animation: scale-out-center 0.4s cubic-bezier(.55, .085, .68, .53) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.2;
  }
}

.react-international-phone-country-selector-button {
  width: 83px;
  height: 46px !important;
  border-radius: 6px !important;
  border: 1px solid #dcdfe4 !important;
}

.react-international-phone-input-container {
  gap: 10px;
}

.react-international-phone-input {
  height: 46px !important;
  width: 289px;
  border-radius: 6px !important;
  font-weight: normal;
  font-size: 14px !important;
  color: #9CA3AF !important;
  border: 1px solid #dcdfe4 !important;
  line-height: 20px;
  outline: #dcdfe4;
}

.react-international-phone-country-selector-dropdown {
  margin-top: 5px !important;
  border-radius: 12px !important;
}

/* Add this CSS to your Tinder card elements */
.swipe {
  transform: translateZ(0);
  /* Apply hardware acceleration */
  transition: transform 0.3s ease;
  /* Apply transition for smoother animation */
  touch-action: manipulation;
  /* Optimize touch responsiveness */
}